{% extends "base.html" %}
{% block title %}
Artist
{% endblock title %}
{% block content %}
<!-- {%if user%}
        {%if not user.is_artist%}User{%else%}Artist{%endif%}:{{user.username}}
    {%endif%} -->
    <br>
<img style="width: 800px; height: 460px;" src="/{{artist.image_user}}" alt="">
<h3> Artist name:{{artist.username}}</h3>
<a class="btn btn-primary mb-3" style="text-decoration:None; color:white" 
                            href="{{url_for('home')}}">Home</a>
    <input type="datetime-local" data-id="{{ artist.id }}" placeholder="Enter time to check" aria-label=".form-control-sm example" class="check_time_user">
                <p class="true" style='display:none'>It is busy at this time</p>
                <p class="false" style='display:none'>It is free at this time</p>
<h5>Related Show:</h5>
    {% for show in shows %}
        {% if show.id == artist.show_id %}
            {{show.name_show}}
            from:{{show.start_time.strftime("%d-%m-%Y, %H:%M")}} till:{{show.finish_time.strftime("%d-%m-%Y, %H:%M")}}
        {%endif%}
    {% endfor %}
{%endblock content%}
{%block js%}
<script src="/static/js.js"></script>
{%endblock%}