{% extends "base.html" %}
{% block title %}
Venues
{% endblock title %}
{% block content %}
<!-- {%if user%}
        {%if not user.is_artist%}User{%else%}Artist{%endif%}:{{user.username}}
    {%endif%} -->
<br>
<img style="width: 500px; height: 260px" src="/{{concert.image_show}}" alt="">
<h3> Show name:{{concert.name_show}}</h3>
<p>Date: from {{date_to_str_start}}- till: {{date_to_str_finish}}</p>
<p>Address: {{venue.name_place}}</p>
<a class="btn btn-primary mb-3" style="text-decoration:None; color:white" 
                            href="{{url_for('home')}}">Home</a>
<div class="search">
    <div class="form-group">
        <div class="col-lg-10">
        <input
            type="text"
            name="name"
            class="form-control"
            id="inputSearchName"
            placeholder="Search artist"
            onkeyup="search_artist()"
        />
        </div>
    </div>
</div>
<br>
<form action="{{url_for('add_artist_to_show', show_id=concert.id)}}" method="post">
      {%for user in users%}
      <p class='searching'>
        <input
          type="checkbox"
          class="checkboxes"
          data-id="{{ user.id }}"
          {%
          if
          user.chosen_to_show
          %}
          checked
          {%
          endif
          %}
        />
        {{user.username}}
      </p>
      {%endfor%}
      <button type="submit" class="btn btn-primary mb-3" />Add</button>
    </form>
    <h3>Selected Artis(s):</h3>
    <ul>
    {% for user in concert.users %}
        <li>{{user.username}}<a type="button" class="btn-close" aria-label="Close" href="{{url_for('delete_show_artist', show_id=concert.id, artist_id=user.id, venue_id=venue.id)}}"></a></li>
    {% endfor %}
    </ul>
<!-- {%if user.is_artist == True%} -->
<!-- <form action="{{url_for('check_venue', venue_id=venue.id)}}">
    <input type="datetime-local" placeholder="Enter time to check" aria-label=".form-control-sm example"
        name="check_time">
    <button type="submit" class="btn btn-primary">Check</button>
</form> -->

<!-- {%endif%} -->
<!-- <ol>
    {% for show in venue.shows %}
    <li>{{show.name_show}}({{show.start_time}}/{{show.finish_time}})}}</li>
    {% endfor %}
</ol> -->
{%endblock content%}
{%block js%}
<script src="/static/artist_check.js"></script>
<script src="/static/search_artist.js"></script>
{%endblock%}