{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <h2 align="center">Sign Up</h2>
    <form action="" method="post">
        <label for="email">Email Address</label>
        <input class="form-control form-control-sm" type="email" placeholder="Enter email" aria-label=".form-control-sm example" id="email" name="email">
        <label for="username">USername</label>
        <input class="form-control form-control-sm" type="text" placeholder="Enter username" aria-label=".form-control-sm example" id="username" name="username">
        <label for="password">Password</label>
        <input class="form-control form-control-sm" type="password" placeholder="Enter password" aria-label=".form-control-sm example" id="password" name="password">
        <label for="re-password">Confirm Your Password</label>
        <input class="form-control form-control-sm" type="password" placeholder="Confirm your password" aria-label=".form-control-sm example" id="re-password" name="re-password">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}